@layer direct {
  .notifications-style-110,
  .roles-style-142 {
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
  .upcoming-trips-style-54 {
    margin-inline: auto;
  }
  .subscription-admin-style-167 {
    margin-block: calc(var(--spacing) * 4);
  }
  .upcoming-trips-style-40,
  .upcoming-trips-style-41,
  .upcoming-trips-style-56,
  .upcoming-trips-style-64,
  .upcoming-trips-style-68 {
    margin-top: var(--spacing);
  }
  .upcoming-trips-style-40\.5,
  .upcoming-trips-style-41\.5,
  .upcoming-trips-style-56\.5,
  .upcoming-trips-style-64\.5,
  .upcoming-trips-style-68\.5 {
    margin-top: calc(var(--spacing) * 1.5);
  }
  .subscription-admin-style-188,
  .upcoming-trips-style-55 {
    margin-top: calc(var(--spacing) * 3);
  }
  .settings-style-187,
  .settings-style-234,
  .subscription-admin-style-164 {
    margin-top: calc(var(--spacing) * 4);
  }
  .settings-style-203,
  .settings-style-240 {
    margin-top: calc(var(--spacing) * 5);
  }
  .upcoming-trips-style-36 {
    margin-top: calc(var(--spacing) * 6);
  }
  .upcoming-trips-style-74 {
    margin-left: auto;
  }
  .upcoming-trips-style-63,
  .upcoming-trips-style-64 {
    display: block;
  }
  .management-style-120,
  .settings-style-187,
  .settings-style-234,
  .settings-style-273,
  .subscription-admin-style-164,
  .subscription-admin-style-188,
  .upcoming-trips-style-37,
  .upcoming-trips-style-61,
  .upcoming-trips-style-67,
  .upcoming-trips-style-68 {
    display: flex;
  }
  .settings-style-169,
  .settings-style-214,
  .settings-style-265,
  .subscription-admin-style-132,
  .subscription-admin-style-169 {
    display: grid;
  }
  .upcoming-trips-style-69,
  .upcoming-trips-style-70 {
    display: inline-flex;
  }
  .upcoming-trips-style-54 {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
  }
  .upcoming-trips-style-62 {
    min-width: calc(var(--spacing) * 28);
  }
  .upcoming-trips-style-66 {
    min-width: calc(var(--spacing) * 48);
  }
  .management-style-120-1,
  .settings-style-187-1,
  .settings-style-234-1,
  .settings-style-273-1,
  .subscription-admin-style-164-1,
  .subscription-admin-style-188-1,
  .upcoming-trips-style-37-1,
  .upcoming-trips-style-61-1,
  .upcoming-trips-style-66,
  .upcoming-trips-style-67-1,
  .upcoming-trips-style-68-1 {
    flex: 1;
  }
  .upcoming-trips-style-67-2 {
    flex-shrink: 0;
  }
  .settings-style-169-cols-2,
  .settings-style-169,
  .settings-style-214-cols-2,
  .settings-style-265-cols-2,
  .subscription-admin-style-132-cols-2,
  .subscription-admin-style-169-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .management-style-120-col,
  .settings-style-187-col,
  .settings-style-234-col,
  .settings-style-273-col,
  .subscription-admin-style-164-col,
  .subscription-admin-style-188-col,
  .upcoming-trips-style-37-col,
  .upcoming-trips-style-61-col,
  .upcoming-trips-style-67-col,
  .upcoming-trips-style-68-col {
    flex-direction: column;
  }
  .management-style-120-col-reverse,
  .settings-style-187-col-reverse,
  .settings-style-234-col-reverse,
  .settings-style-273-col-reverse,
  .subscription-admin-style-164-col-reverse,
  .subscription-admin-style-188-col-reverse,
  .upcoming-trips-style-37-col-reverse,
  .upcoming-trips-style-61-col-reverse,
  .upcoming-trips-style-67-col-reverse,
  .upcoming-trips-style-68-col-reverse {
    flex-direction: column-reverse;
  }
  .management-style-120-wrap,
  .management-style-120,
  .settings-style-187-wrap,
  .settings-style-234-wrap,
  .settings-style-273-wrap,
  .subscription-admin-style-164-wrap,
  .subscription-admin-style-188-wrap,
  .upcoming-trips-style-37-wrap,
  .upcoming-trips-style-37,
  .upcoming-trips-style-61-wrap,
  .upcoming-trips-style-61,
  .upcoming-trips-style-67-wrap,
  .upcoming-trips-style-68-wrap,
  .upcoming-trips-style-68 {
    flex-wrap: wrap;
  }
  .settings-style-273,
  .upcoming-trips-style-37,
  .upcoming-trips-style-61,
  .upcoming-trips-style-67,
  .upcoming-trips-style-68,
  .upcoming-trips-style-69,
  .upcoming-trips-style-70 {
    align-items: center;
  }
  .settings-style-273,
  .upcoming-trips-style-37 {
    justify-content: space-between;
  }
  .settings-style-187,
  .settings-style-234,
  .subscription-admin-style-164,
  .subscription-admin-style-188 {
    justify-content: flex-end;
  }
  .upcoming-trips-style-69,
  .upcoming-trips-style-70 {
    gap: var(--spacing);
  }
  .upcoming-trips-style-67,
  .upcoming-trips-style-69\.5,
  .upcoming-trips-style-70\.5 {
    gap: calc(var(--spacing) * 1.5);
  }
  .management-style-120 {
    gap: calc(var(--spacing) * 2);
  }
  .management-style-120\.5 {
    gap: calc(var(--spacing) * 2.5);
  }
  .settings-style-169,
  .settings-style-214,
  .settings-style-265,
  .settings-style-273,
  .subscription-admin-style-132,
  .subscription-admin-style-169,
  .upcoming-trips-style-37 {
    gap: calc(var(--spacing) * 3);
  }
  .upcoming-trips-style-68 {
    column-gap: calc(var(--spacing) * 3);
  }
  .upcoming-trips-style-61 {
    column-gap: calc(var(--spacing) * 5);
  }
  .upcoming-trips-style-68 {
    row-gap: var(--spacing);
  }
  .upcoming-trips-style-61 {
    row-gap: calc(var(--spacing) * 3);
  }
  :where(.upcoming-trips-style-59 > :not(:last-child)) {
    --tw-divide-y-reverse: 0;
    border-bottom-style: var(--tw-border-style);
    border-top-style: var(--tw-border-style);
    border-top-width: calc(1px * var(--tw-divide-y-reverse));
    border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  }
  :where(.upcoming-trips-style-59 > :not(:last-child)) {
    border-color: var(--color-slate-100);
  }
  .upcoming-trips-style-36 {
    overflow: hidden;
  }
  .upcoming-trips-style-37 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }
  .upcoming-trips-style-37-2 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
  }
  .upcoming-trips-style-37 {
    border-color: var(--color-slate-100);
  }
  .upcoming-trips-style-37,
  .upcoming-trips-style-49,
  .upcoming-trips-style-53,
  .upcoming-trips-style-61 {
    padding-inline: calc(var(--spacing) * 5);
  }
  .upcoming-trips-style-37,
  .upcoming-trips-style-61 {
    padding-block: calc(var(--spacing) * 4);
  }
  .upcoming-trips-style-49 {
    padding-block: calc(var(--spacing) * 6);
  }
  .upcoming-trips-style-53 {
    padding-block: calc(var(--spacing) * 8);
  }
  .upcoming-trips-style-53 {
    text-align: center;
  }
  .upcoming-trips-style-40 {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }
  .upcoming-trips-style-41,
  .upcoming-trips-style-49,
  .upcoming-trips-style-55,
  .upcoming-trips-style-56,
  .upcoming-trips-style-64,
  .upcoming-trips-style-67 {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }
  .upcoming-trips-style-39,
  .upcoming-trips-style-63,
  .upcoming-trips-style-68 {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }
  .upcoming-trips-style-39,
  .upcoming-trips-style-40 {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }
  .upcoming-trips-style-55,
  .upcoming-trips-style-63,
  .upcoming-trips-style-67 {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }
  .upcoming-trips-style-39 {
    --tw-tracking: 0.14em;
    letter-spacing: 0.14em;
  }
  .upcoming-trips-style-40 {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
  }
  .upcoming-trips-style-63 {
    --tw-tracking: var(--tracking-wide);
    letter-spacing: var(--tracking-wide);
  }
  .upcoming-trips-style-63r {
    --tw-tracking: var(--tracking-wider);
    letter-spacing: var(--tracking-wider);
  }
  .upcoming-trips-style-49 {
    color: var(--color-rose-700);
  }
  .upcoming-trips-style-54 {
    color: var(--color-slate-300);
  }
  .upcoming-trips-style-39,
  .upcoming-trips-style-63,
  .upcoming-trips-style-67-2,
  .upcoming-trips-style-74 {
    color: var(--color-slate-400);
  }
  .upcoming-trips-style-41,
  .upcoming-trips-style-56,
  .upcoming-trips-style-68 {
    color: var(--color-slate-500);
  }
  .upcoming-trips-style-55 {
    color: var(--color-slate-700);
  }
  .upcoming-trips-style-67 {
    color: var(--color-slate-800);
  }
  .upcoming-trips-style-40,
  .upcoming-trips-style-64 {
    color: var(--color-slate-900);
  }
  .upcoming-trips-style-39,
  .upcoming-trips-style-63 {
    text-transform: uppercase;
  }
  .upcoming-trips-style-61 {
    transition-property:
      color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  @media (hover: hover) {
    .upcoming-trips-style-61:hover {
      background-color: var(--color-slate-50);
    }
  }
  @media (min-width: 40rem) {
    .settings-style-214,
    .subscription-admin-style-169 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .subscription-admin-style-132 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .upcoming-trips-style-37,
    .upcoming-trips-style-53,
    .upcoming-trips-style-61 {
      padding-inline: calc(var(--spacing) * 6);
    }
  }
}
