DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
PORT=4000
NODE_ENV=development
JWT_SECRET="replace-with-at-least-32-random-characters"
WEB_URL="http://localhost:3000"
RESEND_API_KEY="re_your_resend_api_key"
MAIL_FROM="A-One Tours <onboarding@your-verified-domain.com>"
